<!DOCTYPE html>
<title>Error</title>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>{{>headers}}</h1>
        <p>{{title}}</p>
    </div>
    <footer>
        {{>footer}}
    </footer>

</body>

</html>