<!DOCTYPE html>
<title>Help</title>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>{{>headers}}</h1>
        <p>{{name}}</p> {{!-- <h1>This is the Help page</h1> --}}
    </div>
    <footer>
        {{>footer}}
    </footer>
</body>
</html>